<html lang="en">
  <head>
 <title></title>
  </head>
  <body><div class="area"></div><nav class="main-menu">
    <header>
        <a href="#">My App</a>
      </header>
            <ul>
                <li>
                    <a href="http://justinfarrow.com">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                          Machines
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#"><i class="fa fa-users"></i> 
                        <span class="nav-text">Employees</span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
            </li>
                <li>
                    <a href="#">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="nav-text">
                            Products
                        </span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="nav-text">
                          Customers
                        </span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Orders
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar"></i>
                        <span class="nav-text"> Calendar
                            </span>
                        </a>
                
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="http://localhost:4200/login">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Sign Out
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>